/* @font-face {
  font-family: norse-bold;
  src: url(Norse-Bold.otf);
} */
*:focus {
  outline: none;
}

body {
  display: flex;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  letter-spacing: 0.8px;
  margin: 0 140px;
}

.image-section {
  display: flex;
  flex-direction: column;
  background-image: url("mainpic.jpg");
  background-size: 440px 100vh;
  height: 100vh;
  width: 640px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  font-family: "Cormorant Garamond", serif;
  /* font-family: norse-bold; */
  font-size: 76px;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 140px;
  margin-top: 146px;
}

.odin-logo {
  height: 100px;
}

.photo-author {
  font-family: sans-serif;
  font-size: 9px;
  color: beige;
  margin-bottom: 10px;
}

a {
  color: inherit;
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f9f2ec;
  width: 100%;
  flex-shrink: none;
}

.description {
  padding: 80px 200px 0 20px;
  font-size: 24px;
  font-weight: 500;
}

.forms {
  width: 100%;
  background-color: white;
  box-shadow: 0px 5px 7px #edd7c5;
  padding: 10px 0;
}

.action {
  font-size: 24px;
  font-weight: 800;
  padding: 20px;
}

.forms-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  max-width: 400px;
  gap: 20px;
  padding: 10px 0;
}

.form {
  display: flex;
  flex-direction: column;
  letter-spacing: 1.5px;
}

input {
  width: 160px;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  letter-spacing: 1.5px;
  font-weight: bolder;
  font-size: larger;
  height: 20px;
  padding: 0 3px;
  border-radius: 4px;
  border: 1px solid grey;
}

input:valid,
input[type="email"]:valid {
  border: 1px solid #66cc00;
  background-color: rgba(230, 255, 179, 0.25);
}

input:focus:invalid {
  border: 1px solid #ff6666;
}

/* input:invalid {
  border: 1px solid #ff6666;
  background-color: rgba(255, 179, 179, 0.25);
} */

input:focus {
  box-shadow: 0px 5px 7px #edd7c5;
}

button,
input {
  font-family: inherit;
}

button {
  border: none;
  background-color: #ffbb99;
  border-radius: 4px;
  padding: 4px;
  width: 180px;
  height: 40px;
  color: white;
  font-size: 20px;
  font-weight: 900;
}

button:hover {
  background-color: #ffaa80;
}

button:active {
  background-color: #ff9966;
}

button,
.login {
  margin-left: 20px;
}

.login {
  font-size: 18px;
  font-weight: bolder;
}

.login-link {
  color: #ffaa80;
  font-weight: bold;
}
