body {
  display: flex;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  letter-spacing: 0.8px;
  margin: 0 140px;
}

.image-section {
  display: flex;
  flex-direction: column;
  background-image: url("mainpic.jpg");
  background-size: inherit;
  height: 770px;
  width: 360px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 86px;
  font-weight: 900;
  color: beige;
  background-color: grey;
  opacity: 40%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  margin-top: 200px;
}

.odin-logo {
  height: 100px;
}

.photo-author {
  font-family: sans-serif;
  font-size: 9px;
  color: beige;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.action {
  font-size: 24px;
  font-weight: 500;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f9f2ec;
  width: 100%;
}

.description {
  width: 500px;
  font-size: 24px;
  font-weight: 500;
  margin: 80px 0 0 20px;
}

.forms {
  width: 100%;
  background-color: white;
  box-shadow: 0px 5px 7px #edd7c5;
  padding: 10px 0;
}

.forms-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  max-width: 400px;
  gap: 20px;
  padding: 10px 0;
}

button {
  border: none;
  background-color: #ffccb3;
  border-radius: 4px;
  padding: 4px;
  width: 180px;
  height: 40px;
  color: white;
  font-size: 20px;
  font-weight: 900;
}

button,
input {
  font-family: inherit;
}

input {
  width: 160px;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  letter-spacing: 1px;
  font-weight: bolder;
  font-size: larger;
  padding: 0 3px;
}

input[type="email"]:valid {
  background-color: rgba(139, 195, 74, 0.25);
}

button:hover {
  background-color: #ffbb99;
}

button:active {
  background-color: #ffaa80;
}

.login {
  font-size: 18px;
  font-weight: bolder;
}

.login-link {
  color: #ffaa80;
  font-weight: bold;
}

button,
.login {
  margin-left: 20px;
}

input:valid,
input[type="email"]:valid {
  border: 1px solid #66cc00;
  border-radius: inherit;
  background-color: rgba(230, 255, 179, 0.25);
}

input:focus:invalid {
  border: 1px solid #ff6666;
  background-color: rgba(255, 179, 179, 0.25);
  border-radius: inherit;
}

input:focus {
  box-shadow: 0px 5px 7px #edd7c5;
}
